*{
  /* border: 1px solid red; */
  box-sizing: border-box;
}

body{
  /* width: 250px; */
  margin: 0 auto;
  /* border: 1px solid black; */
  font-size: 16px;
}

img{
  max-width: 100%;
}

ul{
  list-style-type: none;
  padding: 0;
}
.home{
  /* background: url('../public/home/background-home-mobile.jpg'); */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  /* height: 100vh; */
}

.destination{
  /* background: url('../public/destination/background-destination-mobile.jpg'); */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  /* height: 100vh; */
}

.crew{
  /* background: url('../public/crew/background-crew-mobile.jpg'); */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  /* height: 100vh; */
}


.technology{
    /* background: url('../public/technology/background-technology-mobile.jpg'); */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    /* height: 100vh; */
}